/* Custom styles */

.dmg-read-more a {
    color: blue;
}

p.selected-post {
    font-size: 14px;
}

button.components-button.is-destructive {
    padding: 10px;
}
.main-block-div {
    background-color: #ececec;
    padding: 20px;
}
.components-panel__body.is-opened {
    padding: 16px 0;
}